
.card_content {
    width: 200px;
    height: 230px;
    background-color: #ff9191;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    width: 100px;
    height: 100px;
}